.back-container {
  position: absolute;
  z-index: 2;
}

.back-button {
  width: 20px;
}

.button-link {
  text-decoration: none;
  width: 80%;
}

button {
  font-size: 26px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-transform: unset;

  &--back {
    width: 20px;
    height: 20px;
  }

  img {
    width: 50px;
    height: auto;
    margin: 15px;
  }
}


.content {
  &__container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

