body {
    background-color: white;
}

.question {
    $root: &;
    padding: 20px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: gainsboro;
        border-radius: 15px;
        height: 50px;
        margin-bottom: 20px;
    }

    &__body {
        display: flex;
        justify-content: space-between;
    }

    &__answer {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        width: 40%;
        height: 40px;
        background-color: #5CBF71;
        color: white;

        object {
            height: 40px;
        }


        &--incorrect {
            background-color: #F94B4B;
        }

    }

    &__button-container {
        padding: 20px;
    }

    &__submit {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        border-radius: 15px;
        width: 100%;
        height: 50px;
        background-color: #5CBF71;
    }

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}