@font-face {
  font-family: 'Myriad';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('../../font/MYRIADPRO-REGULAR.woff') format('woff');
}

body {
  font-family: 'Myriad', sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.mapTitle {
  font-size: 18px;
  padding: 20px 10px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

button, .button {
  font-family: 'Myriad';
  background-color: #5CBF71;
  border: 0;
  color: #fff;
  outline: none;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 25px;

  &--home {
    font-size: 18px;
    width: 200px;
  }
}

.back-container {
  position: absolute;
  z-index: 2;
}

.back-button {
  width: 20px;
}

.content {
  &__container {
    height: 100%;
    position: relative;
    width:100%;

    &--inner {
      position: absolute;
      bottom: 25px;
      justify-content: center;
      display: flex;
      width: 100%;
    }

    &--home {
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
    }
  }
}

.title {
  text-align: center;
  padding: 10px;

  h3 {
    font-size: 24px;
    margin: 0;
  }

}

.explanation--home {
  width: 80%;
  background-color: #F1F1F1;
  border-radius: 15px;
  padding: 15px 15px;
  margin: 20px;
  box-sizing: border-box;
}
